html {
    font-family:sans-serif ;
}
body {
    margin: 0px;
    width: 100%;
    
}
@media all and (max-width: 874px){
    header {
        background-color: white;
        display: flex;
        height: 60px;
        border-bottom:rgb(158, 153, 153) 1px solid ;
    }
    header div {
        margin-left: 40px;
    }
    header div hgroup {
        color:black;
    }
    h2 {
        display: none;
    }
    figure{
        display: none;
    }
    .content {
        margin-top: 20px;
    }
    #about,
    #competencies,
    #experiences,
    #education,
    #hobbies,
    #contact{
        width:95%;
        margin-left: 5%;
        
        }
        #competencies {
            margin-top: 20%;
        }
    #about p{
        margin-top:px ;
        
        opacity: 0.5;
    }    
    #about h3{
        display: none;
    }
    h3 {
        border-bottom: black 1px solid;
        font-size:25px ;
    }
    .skills-primary, .skills-secondary {
        display: flex;
        flex-direction: row;
        justify-content: space-around; 

    }
    .skill {
        border: white 5px solid;
        background-color: #006666;
        color:white;
        width: 150px;
        margin-bottom:-10px ;
        
    }
    .skills-primary {
        height: 45px;
    }
    .skills-secondary{
        height:30px ;
    }
    h4 {
        color:#006666;
        
    }
    h4 .experience-institution {
        display: none;
    }
    
     .experience-details{
        opacity: 0.5;
        float: right;
        margin-top: -40px;
     } 
     a {
        display: none;
     }
     .contact-type, .contact-value{
        display: none;
     }
     .contacts {
       display: flex;
       justify-content: space-between;
    }

    .contact-email {
        background: url("../images/email.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 70px;
        height: 70px;
    }

    .contact-phone {
        background: url("../images/phone.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 70px;
        height: 70px;
    }

    .contact-github {
        background: url("../images/github.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 70px;
        height: 70px;
    }

    .contact-facebook {
        background: url("../images/facebook.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 70px;
        height: 70px;
    }

    .contact-skype {
        grid-row-start: 3;
    }
    [data-skill="5"] span::after {
        content: "\2605\2605\2605";
    
    }
    [data-skill="3"] span::after {
        content:"\2605\2605"
    }
    [data-skill="1"] span::after {
        content: "\2605"
    }
    [data-skill="9"] span::after {
        content: "\2605\2605\2605\2605\2605";
    }
    [data-skill="7"] span::after{
        content:"\2605\2605\2605\2605"
    }




}
@media all and (min-width: 874px) {
body {
 
 padding-left: 450px;
}
header{
    max-width: 1000px;
    border-bottom:rgb(158, 153, 153) 1px solid ;
}

    header div {
        display: flex;
        
        width: 80%;
        padding-left: 20px;
        height: 100px;
    }
    h2 {
        display: none;
    }
    figure{
        padding-left: 600px;
    }
    .content{
        max-width: 1000px;
        display: inline-block;
    
    
    }
    h1 {
        padding-bottom: 20px;
    }
    #about h3{
        display: none;
    }
    #about p {
        opacity: 0.5;
        max-width: 700px;
        padding-left: 20px;
    }
    #competencies {
        padding-top:50px;
    }
    h3 {
        font-size:25px ;
       
    }

    .skills,
    .experience {
        
        border-left: black 1px solid;
        margin-left: 170px;
        padding-left: 7px;
    }
    ul{ 
        margin-left: 170px;
        padding-left: 40px;
        border-left: black 1px solid;
    }

img {
    transform: rotate(-20deg);
}
.skill {
    border: white 5px solid;
    background-color: #006666;
    color:white;
    width: 150px;
    height: 40px;
    
    padding-top: 9px;
    

}
.skills-primary {
    height: 45px;
}
.skills-secondary{
    height:30px ;
}
h4 {
    color:#006666;
    
}
h4 .experience-institution {
    display: none;
}

 .experience-details{
    opacity: 0.5;
    float:right;
    margin-top: -42px;
 } 
 a {
    display: none;
 }
 .contact-type, .contact-value{
    display: none;
 }
 .contacts {
    display: flex;
    justify-content: space-between;
    padding-left: 250px;
 }


.contact-email {
    background: url("../images/email.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}

.contact-phone {
    background: url("../images/phone.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}

.contact-github {
    background: url("../images/github.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}

.contact-facebook {
    background: url("../images/facebook.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}

.skills-primary, .skills-secondary {
    display: flex;
    flex-direction: row;
}
#contact h3 {
    display:none;
}
[data-skill="5"] span::after {
    content: "\2605\2605\2605";

}
[data-skill="3"] span::after {
    content:"\2605\2605"
}
[data-skill="1"] span::after {
    content: "\2605"
}
[data-skill="9"] span::after {
    content: "\2605\2605\2605\2605\2605";
}
[data-skill="7"] span::after{
    content:"\2605\2605\2605\2605"
}


}